version: '3.9'

networks:
  net:

services:
  db:
    image: postgres
    networks:
      - net
    env_file:
      - .env
  web:
    build: ./back/
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - net
