<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego Pong Online</title>
</head>
<body>
    <h1>Juego Pong Online</h1>
    <div id="game-area">
        <!-- Aquí va la estructura del juego Pong -->
    </div>

    <script>
        const roomName = "{{ room_name }}";  // Nombre de la sala pasado desde el backend
        const socket = new WebSocket(`ws://${window.location.host}/ws/pong/online_pong/${roomName}/`);

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log(data.message);
        };

        socket.onclose = function(event) {
            console.log("Conexión cerrada");
        };

        function sendMessage(message) {
            socket.send(JSON.stringify({ 'message': message }));
        }
    </script>
</body>
</html>
